* {
    box-sizing: border-box;
    transition: all .1s ease-in;
    line-height: 1;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
body {
    width: 100vw;
    min-height: 100vh;
    border: 25px solid #2B81AC;
    background-color: #3399CC;
    color: #fff;
    font-family: Lucida Sans Unicode;
    font-size: 16px;
}
.container {
    max-width: 1200px;
    margin: 35px auto;
    padding: 0 15px;
}
/*------title---------*/
.main .main-title {
    display: block;
    font-size: 1.3125rem;
    line-height: 2;
    margin-bottom: 35px;
}
.main span .wi {
    font-size: 1.6rem;
}
/*----------content--------------*/
.main .list {
    margin-bottom: 35px;
    border: 2px solid #fff;
    font-size: 0;
}
li.list-item {
    display: inline-block;
    width: 25%;
    min-height: 147px;
    border: 2px solid #fff;
    font-size: 1.375rem;
    text-align: center;
    padding: 30px 10px;
}
li.list-item__2 {width: 50%;}
li.list-item__4 {width: 100%;}
.blue {background-color: rgb(51, 153, 204);}
.azure {background-color: rgb(51, 204, 204);}
.purple {background-color: #996699;}
.red {background-color: #C24747;}
.coral {background-color: #E2674A;}
.yellow {background-color: #FFCC66;}
.litegreen {background-color: #99CC99;}
.green-gray {background-color: #669999;}
.pink {background-color: #CC6699;}
.green {background-color: #339966;}
.violet {background-color: #666699;}
li.list-item h3 {margin-bottom: 15px;}
li.list-item p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255, 0.7);
}
li.list-item .wi {
    font-size: 2.625rem;
    margin-left: 15px;
}
/*---------------changes---------------*/
.list:hover li:not(:hover){
    opacity: 0.5;
}
.main .list:hover .list-item {
    cursor: pointer;
}